<?xml version="1.0" encoding="utf-8"?>
<ArrayOfGameInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <GameInfo>
    <Title>うつのみやシューティング</Title>
    <Genre>横スクロールシューティング</Genre>
    <Info>20XX年、栃木県を離れた宇都宮に住むミヤちゃんは、ひそかに宇都宮の宇宙征服を企てていた。そんな中、栃木県により宇都宮のモノが奪われてしまった！さぁ、宇都宮を取り戻すべく立ち上がろう！</Info>
    <Thumbnail>Thumbnail\samne.png</Thumbnail>
    <Folder>UTSUNOMIYA_SHOOTING</Folder>
    <ExeName>Game\UTSUNOMIYA_SHOOTING\CACTUS_STG.exe</ExeName>
    <Icon>Icon\icon.png</Icon>
    <Version>20171117.1.0.0</Version>
  </GameInfo>
  <GameInfo>
    <Title>512</Title>
    <Genre>パズルゲーム</Genre>
    <Info>頑張って作りました！
このゲームはパズルゲーム班5人＋監督係の先輩1人で、2048にリスペクトを受けて作り上げたパズルゲーム「512」です！
ルールは簡単、数字を合体させて512を作ってください。</Info>
    <Thumbnail>Thumbnail\samune(pazule).png</Thumbnail>
    <Folder>512</Folder>
    <ExeName>Game\512\pazuru.exe</ExeName>
    <Icon>Icon\aikon(pazule).png</Icon>
    <Version>171117.1.0.0</Version>
  </GameInfo>
  <GameInfo>
    <Title>FOOD CHAIN</Title>
    <Genre>シミュレーション</Genre>
    <Info>突然ですがあなたはこの世界の神です。
草と草食動物と肉食動物の初期数宇を設定してあなただけの世界を作ってください。
全ての肉食動物が途絶えてしまうまであなたはどれだけ長生きさせることができるでしょうか。</Info>
    <Thumbnail>Thumbnail\samune_food.png</Thumbnail>
    <Folder>food_chain</Folder>
    <ExeName>Game\food_chain\test.exe</ExeName>
    <Icon>Icon\ikon200_100_food.png</Icon>
    <Version>171117.1.0.0</Version>
  </GameInfo>
  <GameInfo>
    <Title>pacross</Title>
    <Genre>（国民的）パズルゲーム</Genre>
    <Info>世界的大人気パズルゲーム「〇クロス」「ロ〇ック」がかわいくなって新登場！！
書かれた数字をもとにマス目に色を塗っていこう！
ステキな絵が浮かび上がってくるかも！？
自分でパズルを作ることもできるぞ！
</Info>
    <Thumbnail>Thumbnail\pakurosu_samune.png</Thumbnail>
    <Folder>pakurosu_64ver1_01</Folder>
    <ExeName>Game\pakurosu_64ver1_01\pikurosu2.exe</ExeName>
    <Icon>Icon\pakurosu_icon.png</Icon>
    <Version>171118.2.23</Version>
  </GameInfo>
  <GameInfo>
    <Title>MINE SWEEPER</Title>
    <Genre>パズルゲーム</Genre>
    <Info>従来のマインスイーパと異なり時間立てばどんどん隠れていきます
うかうかしてたらボムを踏んでいないのに負けちゃうかも!?
制作時間は（２日/ぼっち）です
僕は鬼モードクリアできませんでした．ぜひ挑戦してみてください

操作方法
右クリック：開ける
左クリック：フラグ</Info>
    <Thumbnail>Thumbnail\samuneiru_mine.PNG</Thumbnail>
    <Folder>MINE_SWEEPER\game</Folder>
    <ExeName>Game\MINE_SWEEPER\game\MINE_SWEEPER.exe</ExeName>
    <Icon>Icon\icon_mine.PNG</Icon>
    <Version>171117.1.0.0</Version>
  </GameInfo>
  <GameInfo>
    <Title>squive</Title>
    <Genre>アクション</Genre>
    <Info>あおい□はとけ゛でこうけ゛き、あかい□はほ゛ーるでたたかう。
てきのく゛んせ゛いをたおしてよけて、さいこ゛までいきのこれ！</Info>
    <Thumbnail>Thumbnail\thumbnail_action.png</Thumbnail>
    <Folder>action2017\action2017\Debug</Folder>
    <ExeName>Game\action2017\action2017\Debug\action2017.exe</ExeName>
    <Icon>Icon\icon_action.png</Icon>
    <Version>171117.1.0.0</Version>
  </GameInfo>
</ArrayOfGameInfo>